html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(217, 218, 219) !important;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000048;
    z-index: 9999999999;
    backdrop-filter: blur(5px);
}

.loader {
    height: 30px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, #2660ff 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear;
}

@keyframes l43 {
    0% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    16.67% {
        background-position: calc(0*100%/3) 0, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    33.33% {
        background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    50% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 50%
    }

    66.67% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 100%, calc(3*100%/3) 0
    }

    83.33% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 100%
    }

    100% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }
}

*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #2986cc4d;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2474b14d;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #1f63974d;
}

#calendar {
    display: none;
}

.blackout {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 10;
    display: none;
}

.ticker {
    width: 100%;
    background: #b3b3b3;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 1rem
}

.ticker p {
    display: inline-block;
    padding-left: 100%;
    animation: ticker-scroll 20s linear infinite;
    margin: 0;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.suggest-wrap {
    position: relative
}

.autosuggest {
    position: absolute;
    z-index: 9999;
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 220px;
    overflow: auto;
    border-radius: 6px
}

.autosuggest li {
    list-style: none;
    padding: 8px 10px;
    cursor: pointer
}

.autosuggest li:hover,
.autosuggest li.active {
    background: #f2f2f2
}

.passenger-table {
    overflow: auto;
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    background-color: white;
    user-select: none;
}

.passenger-table table {
    table-layout: auto;
    width: 100%;
}

.passenger-table table th,
.passenger-table table td {
    white-space: nowrap;
}

.passenger-table tr.other-stop {
    opacity: 0.5;
}

.ticket-search-pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-height: 50vh;
    width: 80vw;
    overflow: hidden;
    display: none;
}

.ticket-search-pop-up * {
    user-select: none;
}

.searched-table {
    max-height: 75vh;
    overflow-y: auto;
}

.open-ticket-sale {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    width: 20vw;
    display: none;
}

.ticket-search-pop-up .inputs {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.ticket-search-pop-up .inputs div {
    width: 19.4% !important;
}

.add-transaction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    display: none;
    overflow: hidden;
}

.add-announcement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    display: none;
    overflow: hidden;
}

.transaction-transfer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    display: none;
    overflow: hidden;
}

.payment-request,
.payment-send,
.pending-payments,
.pending-collections {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    display: none;
    overflow: hidden;
}

.pending-payments,
.pending-collections {
    width: 40vw;
    max-height: 60vh;
}

.other-register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    width: 80vw;
    max-height: 80vh;
    display: none;
    overflow: hidden;
}

.register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: .6rem;
    z-index: 100;
    background-color: white;
    width: 85vw;
    max-height: 80vh;
    display: none;
    overflow: hidden;
}

.register-data-input {
    width: 24% !important;
}

.transaction-list {
    overflow-y: scroll;
    height: 31vh;
}

div.ticket-search-close,
div.bus-plans-close,
div.branch-close,
div.users-close,
div.customers-close,
div.members-close,
div.member-info-close,
div.bus-close,
div.route-close,
div.trip-close,
div.price-close,
div.register-close,
div.add-transaction-close,
div.transaction-transfer-close,
div.other-register-close,
div.payment-request-close,
div.payment-send-close,
div.pending-payments-close,
div.pending-collections-close,
div.price-add-close,
div.moving-close,
div.stops-close,
div.staff-close,
div.trip-revenue-close,
div.trip-staff-close,
div.trip-stop-restriction-close,
div.trip-note-close,
div.open-ticket-close,
div.error-close,
div.announcement-add-close,
div.announcement-pop-up-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.bus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 30vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.bus-settings {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.bus-settings input[type="text"] {
    width: 5vw;
}

.bus-info {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.route {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 40vw;
    height: 60vh;
    overflow: hidden;
    display: none;
}

.route-list-nodes {
    height: 40vh;
    overflow-y: auto;
}

.route .route-stops {
    overflow-y: auto;
    height: 45vh;
}

.stops {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-height: 50vh;
    width: 55vw;
    overflow: hidden;
    display: none;
}

.stop-panel {
    display: none;
}

.staff {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-height: 50vh;
    width: 55vw;
    overflow: hidden;
    display: none;
}

.staff-panel {
    display: none;
}

.prices {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 80vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.price-list {
    overflow: auto;
}

input.price-button-input,
select.price-button-select {
    border: none;
    background-color: #3386ff;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
}

.price-button-inputs {
    gap: 5px;
}

.price-button-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}

.price-button-select::-ms-expand {
    display: none;
}

.route-settings {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.route-settings input[type="text"] {
    width: 5vw;
}

.route-info {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.route-stop-duration {
    display: none;
}

.duration-input {
    background-color: transparent;
    border: none;
    text-align: center;
}

.duration-input:focus,
.duration-input:focus-visible {
    border-bottom: 1px solid #2660ff !important;
    outline: none !important;
    box-shadow: none !important;
}

.trip {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 65vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.trip-settings {
    flex: 0 0 auto;
    width: 50%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.trip-settings-calendar {
    width: 10rem !important;
}

.trip-settings input[type="text"] {
    width: 5vw;
}

.trip-info {
    flex: 0 0 auto;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}


.branch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 20vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.branch-settings {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.branch-settings input[type="text"] {
    width: 5vw;
}

.branch-info {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.users,
.customers,
.members {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-width: 40vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.members,
.customers {
    width: 80vw;
}

.customers input,
.members input {
    width: 8rem !important;
}

.member-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    width: 80vw;
    min-height: 40vh;
    overflow: hidden;
    display: none;
}

.member-info-left .input-group {
    flex-wrap: nowrap !important;
}

.member-info-middle,
.member-info-right {
    /* flex: 1; */
}

.member-info-left,
.member-info-middle {
    border-right: 1px solid #dee2e6;
}

.member-info input {
    width: 100% !important;
}

.member-ticket-list {
    max-height: 60vh;
    overflow-y: auto;
}

.customers button {
    white-space: nowrap;
}

.customer-blacklist-pop-up {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%) !important;
    border-radius: .3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    display: none;
    width: 20rem;
}

.customer-list-nodes {
    height: 65vh;
    overflow-y: auto;
}

.user-settings {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

.user-settings input[type="text"] {
    width: 5vw;
}

.user-info {
    flex: 0 0 auto;
    width: 33.33333333%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-right: 1px solid #dee2e6;
    display: none;
}

p.inactiveTripText {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.bus-plans {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    min-height: 50vh;
    width: 55vw;
    overflow: hidden;
    display: none;
}

.bus-plan-create {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 10rem;
}

.bus-plan-create-input {
    height: 1.5rem;
    width: 1.75rem;
    border: solid 2px #2660ff;
    text-align: center;
}

.bus-plan-create-input.taken {
    background-color: #2660ff;
    color: #80a0fa;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bus-plan-create-input.doors {
    border: solid 2px #696969;
    background-color: #696969;
    color: #3d3d3d;
}

.bus-plan-create-input.captain {
    border: solid 2px #ff7300;
    background-color: #ff7300;
    color: #ffd2ad;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bus-plan-create-input.reverse {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gtr-header {
    background-color: #2660ff;
    color: white;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.ticket-cancel-refund-open {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

div.ticket-cancel-refund-open-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.tickets_ {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.ticket-cancel-box {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.ticket-cancel-box:active {
    transform: scale(.9);
}

.ticket-cancel-check {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: none;
    font-size: 1.5rem;
}

.ticket-cancel-box.m .ticket-cancel-check {
    color: #216396;
}

.ticket-cancel-box.f .ticket-cancel-check {
    color: #920256;
}

.ticket-cancel-box.m {
    background-color: #216396;
}

.ticket-cancel-box.m.selected {
    background-color: #1a5079;
    transform: scale(.95);
}

.ticket-cancel-box.f {
    background-color: #920256;
}

.ticket-cancel-box.f.selected {
    background-color: #6b023f;
    transform: scale(.95);
}

.ticket-cancel-box p {
    margin-bottom: .5rem;
    color: white;
}

.moving {
    position: absolute;
    bottom: 50%;
    left: 20%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    border-radius: .6rem;
    width: 20vw;
    overflow: hidden;
    display: none;
}

.moving-ticket-button.selected {
    transform: scale(.95);
}

.moving .move-to {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.moving .tickets {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1rem;
}

.moving select {
    border: none;
    border-bottom: 3px solid #2660ff;
    background-color: #d9dadb;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.trip-notes {
    height: 20vh;
    overflow-y: auto;
}

.add-trip-note {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    flex-direction: column;
    gap: .5rem;
    display: none;
    border-radius: .6rem;
    overflow: hidden;
}

.error-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    display: none;
    max-width: 80vw;
}

.error-popup .gtr-header {
    background-color: #dc3545;
}

.notes-stops {
    height: 30vh;
    display: flex;
    gap: 1rem;
}

.note {
    border-radius: 5px;
    background-color: #216396;
    color: white;
    padding: 0 .5rem;
    margin: 0 .5rem;
    position: relative;
}

.note-info {
    font-size: .75rem;
}

.note-icons {
    position: absolute;
    top: .25rem;
    right: .25rem;
    display: flex;
    gap: .25rem;
}

.note-icons i,
.note-icons svg {
    cursor: pointer;
    font-size: .75rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* .tripRows {
    width: 100%;
    overflow: auto;
} */

.tripRow {
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 0 .2rem;
    margin-bottom: .5rem;
    width: fit-content;
    cursor: pointer;
}

.tripRow p {
    white-space: nowrap;
}

.tripRow.selected {
    background-color: #2660ff;
    color: white;
}

.tripRow.disabled,
.tripRow.disabled.expired,
.tripRow.disabled:hover,
.tripRow.disabled.expired:hover,
.tripRow.disabled:active,
.tripRow.disabled.expired:active {
    background-color: black;
    color: darkgray;
}

.tripRow.expired {
    background-color: gray;
    color: lightgray;
}

.tripRow.expired:hover {
    background-color: rgb(97, 97, 97);
    color: rgb(170, 170, 170);
}

.tripRow.expired:active {
    background-color: rgb(75, 75, 75);
    color: rgb(131, 131, 131);
}

.tripRow.expired div {
    border-right: 1px solid white;
}


.tripRow:hover {
    background-color: #f0f0f0;
}

.tripRow:active {
    background-color: #e0e0e0;
}

.tripRow div {
    border-right: 1px solid #7d7d7d;
}

.tripRow.selected div {
    border-color: white;
}

.tripRow div:last-child {
    border-right: none;
}

.tripRow div p {
    margin: .3rem .3rem;
    user-select: none;
}

.passenger-info-popup {
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 13px;
    pointer-events: none;
    position: absolute;
    z-index: 10;
    display: none;
}

.passenger-info-popup.p {
    background-color: rgb(200 0 0) !important;
}

.passenger-info-popup.m {
    background-color: #216396;
}

.passenger-info-popup.f {
    background-color: #920256;
}

.passenger-info-popup p {
    margin-bottom: .5rem;
    color: white;
}

.price-add-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    width: 80vw;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

.ticket-info-pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 80vw;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

.account-cut-deductions-popup,
.account-cut-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    width: 40vw;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

.ticket-close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    color: white;
    cursor: pointer;
}

.ticket-header {
    width: 100%;
    background-color: #2660ff;
    color: white;
    text-align: center;
    padding: .5rem 0;
}

.ticket-header--date {
    position: absolute;
    left: 1rem;
}

.ticket-rows {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 0;
    max-height: 95vh;
    overflow-y: auto;
}

.ticket-rows input,
.ticket-rows select {
    border-color: #202020;
}

.trip-revenue-pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    width: 30rem;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

.trip-staff-pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    width: 30rem;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
}

.trip-stop-restriction-pop-up {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 110;
    width: auto;
    background-color: white;
    border-radius: .6rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    overflow: auto;
    display: none;
}

.ticket-row {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ticket-row.m {
    background-color: #21639650;
}

.ticket-row.f {
    background-color: #92025650;
}

.ticket-row .seat-number {
    font-weight: bold;
    margin: 0;
    font-size: 2rem;
    opacity: 35%;
    user-select: none;
}

.ticket-row .gender {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.ticket-row .gender input {
    display: none;
}

.gender-input-label {
    color: black;
    border: 1px solid;
    padding: .2rem;
    border-radius: .3rem;
}

.gender input[type="radio"]:checked+label.male {
    background-color: #21639650;
    border-color: #216396;
    color: #216396;
}

.gender input[type="radio"]:checked+label.female {
    background-color: #92025650;
    border-color: #920256;
    color: #920256;
}

.ticket-info {
    padding: .5rem 1rem;
}

.ticket-info .up-row {
    display: flex;
    justify-content: space-between;
}

.trip-info-settings {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    background-color: white;
    padding: .75rem;
    width: 100%;
}

.account-cut,
.account-cut-undo {
    position: absolute;
    gap: .25rem;
    left: .75rem;
}

.trip-helper-buttons {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
    right: .75rem;
}

.trip-options-button {
    width: 1.5rem;
    border-radius: 4px;
    background-color: #2660ff;
    color: white;
    cursor: pointer;
    height: 1.5rem;
    text-align: center;
}

.trip-options-button.dropdown-toggle::after {
    display: none !important;
}

.trip-incomes {
    width: 1.5rem;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: -webkit-zoom-in;
    height: 1.5rem;
    text-align: center;
}


.trip-incomes-popup {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
    margin-top: .2rem;
    background-color: #fff;
    color: #000;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    z-index: 10;
    white-space: nowrap;
    width: 15rem;
}

.trip-incomes-popup .input-group {
    margin-bottom: .75rem;
}

.trip-incomes-popup .input-group input {
    text-align: center;
}

.trip-incomes-popup .input-group .input-group-text {
    background-color: #2660ff;
    color: white;
}

.trip-incomes:hover .trip-incomes-popup {
    display: block;
}

.trip-bus-license-plate,
.trip-bus-plan {
    width: 8rem !important;
}

.busPlan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.seats {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: auto;
    padding: 1rem;
}

.seat-row {
    display: flex;
    gap: .5rem;
}

.seat {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    width: 7rem;
    height: 3.5rem;
    border-radius: .5rem;
    padding: 0.1rem .25rem;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid rgb(0 0 0 / 0%);
}

.seat.selected {
    border-color: green !important;
}

.seat .seat-number {
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.75rem;
    opacity: 15%;
    cursor: pointer;
    user-select: none;
}

.seat[data-only-gender="m"] .seat-number {
    color: #216396;
    opacity: 1;
}

.seat[data-only-gender="m"] .seat-number::after,
.seat[data-only-gender="m"] .seat-number::before {
    color: #216396;
    content: "-";
}

.seat[data-only-gender="f"] .seat-number {
    color: #920256;
    opacity: 1;
}

.seat[data-only-gender="f"] .seat-number::after,
.seat[data-only-gender="f"] .seat-number::before {
    color: #920256;
    content: "-";
}

.seat .seat-content {
    display: flex;
    justify-content: space-between;
    height: 33.3%;
}

.seat p.to,
.seat p.from {
    height: 33.3%;
}

.seat p.to,
.seat p.from,
.seat p.web,
.seat .price {
    cursor: pointer;
    user-select: none;
    font-size: .75rem;
    margin: 0;
}

.seat.pending {
    background-color: rgb(200 0 0) !important;
    border-color: rgb(150 0 0);
    box-shadow: 0 0.5rem 1rem rgb(255 0 0 / 50%) !important;
    color: rgb(100 0 0) !important;
}

.seat.m {
    background-color: rgb(41, 134, 204);
    border-color: #216396;
    box-shadow: 0 0.5rem 1rem rgb(41 134 204 / 50%) !important;
    color: white !important;
}

.seat.m.reservation {
    background-color: rgb(41 134 204 / 30%);
    border-color: #2164974d;
    color: #216396 !important;
}

.seat.before {
    filter: grayscale(1);
}

.seat.f.ahead {
    background-color: transparent;
    color: #920256 !important;
}

.seat.m.ahead {
    background-color: transparent;
    color: #216396 !important;
}

.seat.f {
    background-color: rgb(201, 0, 118);
    border-color: #920256;
    box-shadow: 0 0.5rem 1rem rgb(201 0 118 / 50%) !important;
    color: white !important;
}

.seat.f.reservation {
    background-color: rgb(201, 0, 118, 30%);
    border-color: #9202564d;
    color: #920256 !important;
}

.seat.web {
    border-color: #4CAF50;
    box-shadow: 0 0.5rem 1rem #8BC34A !important;
    border-width: .2rem;
}

.seat.hidden {
    visibility: hidden;
}

.seat.none {
    display: none;
}

.ticket-ops-pop-up,
.taken-ticket-ops-pop-up {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%) !important;
    border-radius: .3rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.search-ticket-ops-pop-up {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%) !important;
    border-radius: .3rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.ticket-op,
.taken-ticket-op,
.searched-ticket-op {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.ticket-op:hover,
.ticket-op-button:hover {
    background-color: #f0f0f0
}

.ticket-op:active,
.ticket-op-button:active {
    background-color: #e0e0e0
}

.ticket-op p {
    margin: 0 .5rem 0 0;
}

.ticket-op-buttons {
    display: none;
    flex-direction: column;
    gap: .25rem;
    padding: 0;
    position: absolute;
    left: 105%;
    top: 0;
}

.ticket-op-button {
    background-color: white;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%) !important;
    font-size: .85rem;
    width: max-content;
}

.ticket-op-button.restricted {
    color: red;
    cursor: not-allowed;
}

.move-to-trip-place-select option.restricted {
    color: red;
}

.announcement-pop-up {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%) !important;
    border-radius: .3rem;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 200;
    background-color: white;
    display: none;
    width: 20rem;
}