each s in stops
    button.stop-button.d-flex.btn.btn-outline-primary(type="button" data-id=s.id)
        .col-6
            p.text-center.m-0 #{s.title}
        .col-6
            p.text-center.m-0 #{s.placeTitle}
