.d-flex.flex-column.gap-2
    each n in notes
        .note 
            p.m-0 #{n.noteText}
            p.m-0.note-info #{n.user} 
            p.m-0.note-info #{new Date(n.updatedAt).toLocaleDateString()} #{new Date(n.updatedAt).toLocaleTimeString()}
